.list {
  padding: 0;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card {
  border: 0.5px solid rgb(22, 22, 22);
  border-radius: 20px;
  background-color: rgb(103, 100, 117);
  padding: 10px;
  & img {
    width: 100px;
    height: 164px;
    object-fit: cover;
    border-radius: 20px;
  }
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  background-color: rgb(107, 106, 106);
  padding: 4px;
  font-size: 10px;
}
